@media (max-width: 620px) {
    .slider {
        padding: 0 15px;
        gap: 10px;
    }

    .btn-seta {
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lista-produtos {
        height: 500px;
    }

    .cartao .container-imagem{
        max-height: 230px;
    }

    .cartao .informacoes .nome {
        max-width: 50%;
        font-size: 20px;
    }

    .cartao .informacoes .descricao {
        font-size: 14px;
    }
}